@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kadwa", serif;
    line-height: 1.2;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --green-light: #B4C8B1;
    --yellow-accent: #FFC107;
    --green-dark: #0A490A;
    --black-overlay: rgba(0, 0, 0, 0.582);
}

.navbar {
    background-color: var(--green-dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
    padding: 1.5rem;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.search-box {
    height: 2rem;
    position: relative;
    display: flex;
}

.search-box .search-input,
.search-box select {
    height: 100%;
    background: transparent;
    color: inherit;
    padding-inline: 2rem;
    border: 1px solid var(--white);
}

.search-box .search-input::placeholder {
    color: inherit;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.search-box select option {
    color: var(--black);
}

.search-box img {
    position: absolute;
    left: 5px;
    top: 3px;
    height: 85%;
}

.icon-boxes {
    display: flex;
    gap: 2rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    font-size: 0.8rem;
}

.icon-box img {
    height: 30%;
}

.banner {
    background-color: var(--yellow-accent);
    color: var(--green-dark);
    padding: 6rem 9rem;
    position: relative;
}

.badge {
    background-color: var(--green-light);
    padding: 0.3em 1rem;
    font-size: 0.8rem;
    border-radius: 0.8rem;
}

.title {
    font-size: 5rem;
    font-weight: 900;
}

.about {
    width: 70%;
    font-size: 1.5rem;
}

.button-baner {
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--green-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: inherit;
}

.button-baner img {
    width: 0.5rem;
}

.margin-top-baner {
    margin-top: 1.5rem;
}

.Pegatina-descuento {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 8rem;
    width: 7rem;
    font-size: 1.4rem;
}

.Pegatina-descuento img {
    animation: rotate360 15s linear infinite;
    width: 100%;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Pegatina-descuento strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

.Fruit-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
}

.Fruit-image img {
    width: 100%;
}

.container {
    color: var(--green-dark);
}

.porduct-introduction1,
.porduct-introduction2,
.porduct-introduction3 {
    padding: 3rem 9rem;
}

.title-introduction {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.text-titel {
    font-size: 2rem;
}

.pordocts-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.pordoct-item {
    width: 295px;
    height: 301px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    color: var(--white);
}

.pordoct-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pordoct-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    z-index: 1;
    position: absolute;
    border-radius: 1rem;
    background-color: var(--black-overlay);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    bottom: -43%;
    transition: bottom 0.4s ease;
}

.pordoct-item:hover .pordoct-information {
    bottom: 0;
}

.pordoct-information h4 {
    color: var(--yellow-accent);
    font-size: 1.8rem;
    font-weight: bolder;
}

.pordoct-information p {
    font-size: 1.2rem;
}

.pordoct-information-button,
.pordoct-button {
    background-color: var(--yellow-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    color: var(--green-dark);
    font-weight: bolder;
    border: none;
}

.pordoct-information-button img,
.pordoct-button img {
    width: 0.5rem;
    object-fit: fill;
}

.card-section {
    display: flex;
    justify-content: space-between
}

.card-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
    border: 1px solid var(--green-dark);
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: var(--green-dark);
    width: 28%;
}

.card-item .image {
    width: 344px;
    height: 307px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.card-item .image img {
    width: 80%;
    object-fit: cover;
}

.card-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-information strong {
    font-size: 1.7rem;
}

.star-box .star {
    color: var(--yellow-accent);
    font-size: 1.5rem;
}

.star-box .stae-number {
    font-size: 1rem;
}

.sell-box b {
    font-size: 1.5rem;
}

.sell-box small {
    font-size: 0.5rem;
}

.sell-box del {
    font-size: 1rem;
}

.input-box {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.size-box,
.quantity-box {
    width: 50%;
}

.size-input,
.number-input {
    position: relative;
    height: 3rem;
    width: 100%;
    margin: 1rem 0;
}

.size-input select,
.number-input input {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    border: 1px solid var(--green-dark);
    border-radius: 0.5rem;
}

.quantity-box {
    width: 50%;
}

.number-input input {
    text-align: center;
}

.size-input small {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-weight: bolder;
    color: var(--green-dark);
}

.number-input .plus {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.number-input .minus {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.card-button {
    color: var(--green-dark);
    border-radius: 0.5rem;
    background-color: var(--yellow-accent);
    padding: 1rem;
    border: none;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.card-button img {
    width: 0.5rem;
    object-fit: fill;
}

.heart {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: var(--yellow-accent);
}

.heart img {
    width: 1.2rem;
}

.porduct-introduction3 {
    background-color: var(--green-dark);
    color: var(--white);
}

.porduct-introduction3-menu ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.yellow-accent {
    color: var(--yellow-accent);
}

.card-section3 {
    margin-top: 2rem;
}

.card-section3 .card-item {
    color: var(--white);
    border: 1px solid var(--white);
}

.card-section3 .plus,
.card-section3 .minus {
    color: var(--green-dark);
}